<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUoHCL5HZNSPuADLgNJY0Dlu02g_N37Z8</string>
	<key>GCM_SENDER_ID</key>
	<string>203662772768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.holaFirebase</string>
	<key>PROJECT_ID</key>
	<string>holafirebase-26aba</string>
	<key>STORAGE_BUCKET</key>
	<string>holafirebase-26aba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203662772768:ios:eeccd461a3aeb8c72b0a45</string>
</dict>
</plist>